@import "./node_modules/normalize.css/normalize.css";
@import "./node_modules/github-markdown-css/github-markdown.css";
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,400i,500,500i,600,600i&subset=cyrillic');

.markdown-body {
    font-family: 'Exo 2', sans-serif;
    hyphens: auto;
}

@page {
    size: A4;
}

@page {
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 3cm;
    margin-right: 1.5cm;
}

.markdown-body h1, h2, h3, h4, h5 {
    page-break-after: avoid;
    page-break-inside: avoid;
}

.markdown-body h1:not(:first-of-type) {
    page-break-before: always;
}

.markdown-body p {
    text-align: justify;
}

/* Prince sets margin-left: 40pt */
.markdown-body ul,
.markdown-body ol {
    margin-left: 0
}
